{% include 'back-end/head.html' %}



<div class="container">
    <h1 style="text-align: center;">Agregar Nuevo Vino</h1>
    <form action="/create" method="post" enctype="multipart/form-data" style="width: 60vw; margin: auto;">
        <div class="mb-1">
            <label for="winery" class="form-label">Bodega:</label>
            <input type="text" id="winery" name="winery" required class="form-control">
        </div>
        <div class="mb-1">
            <label for="wine" class="form-label">Vino:</label>
            <input type="text" id="wine" name="wine" required class="form-control">
        </div>
        <div class="mb-1">
            <label for="location" class="form-label">Ubicación:</label>
            <select id="location" name="location" required class="form-select">
                {% for location in locations %}
                <option value="{{ location.idLocation }}">{{ location.country }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-1">
            <label for="txtFoto" class="form-label">Imagen:</label>
            <input type="file" id="txtFoto" name="txtFoto" class="form-control">
        </div>
        <div class="mb-1">
            <button type="submit" class="btn btn-success">Agregar</button>
            <a href="/getAll" class="btn btn-info">Volver</a>
        </div>
       
    </form>
</div>
{% include 'back-end/footer.html' %}